{% for oneEvent in events %}
<div class="row event_preview">
      <div class="col-md-2">
          <img class="" src="{{ oneEvent.webPath | imagine_filter('small') }}" alt="{{ oneEvent }}" title="{{ oneEvent }}" />
      </div>
      <div class="col-md-3">
        <a href="{{ oneEvent.siteWeb }}" target="_blank" >
            <p style=""><u>{{ oneEvent }}:</u></p>
        </a>

      </div>
      <div class="col-md-7">
        <p><i>{{ oneEvent.description }}</i></p>
      </div>
</div>

{% endfor %}