{% trans_default_domain 'FOSUserBundle' %}
{# <div class="preloader"></div> #}

    <main id="top" class="masthead" role="main">
        <div class="container">
            <h1><strong>{{ "noConnected.h1" | trans({}, 'home') }}</strong></h1>
            <div class="row request_form  authorization">
                <div class="authorization_head "><h3>{{ "réinitialisation de mot de passe" | trans({}, 'home') }}</h3></div>
                <div class="content">
                    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                        <div>
                            {% if invalid_username is defined %}
                                <div class="alert alert-warning">
                                    <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
                                </div>
                            {% endif %}
                            <div class="space-vertical-input">
                                <div class="col-sm-4">
                                   <label for="username">{{ 'resetting.request.username'|trans }}</label>
                                </div>

                                <div class="col-sm-8">
                                    <input type="text" id="username" name="username" required="required" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div>
                            <input type="submit" class="btn btn-info" value="{{ 'resetting.request.submit'|trans }}" />
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- /container -->
    </main><!--/main -->
