<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Le réseau social pour le sport{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('compiled/front/common.css') }}" type="text/css" media="all" />
        {% endblock stylesheets %}

        {% block scripts_head %}
            
            <script type="text/javascript" src="{{ asset('compiled/front/main.min.js') }}"></script>
        {% endblock scripts_head %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% if is_granted('ROLE_ADMIN_TABORD') %}
            {% include 'top_nav_admin.html.twig' %}
        {% else %}
            {% include 'top_nav.html.twig' %}
        {% endif %}

        <div class="container">
            {% include "flash_messages.html.twig" %}

            {% block body %}

            {% endblock %}
        </div>
        {% block javascripts %}
		
            <script type="text/javascript">
            $(document).ready(function($) {
			
			$("#searchUser").focus(function() {
				$(this).autocomplete('search', $(this).val())
			});
	
                $( "#searchUser" ).autocomplete({
                    source: function( request, response ){
                        $.ajax({
                            url: "{{path('ath_main_search_user')}}",
                            data: {
                                string: request.term
                            },
                            minLength: 2,
                            beforeSend: function(xhr) {
                                $("#searchUser").addClass("loadinggif-for-input");
                            },
                        })
                        .done(function(data) {
                            $("#searchUser").removeClass("loadinggif-for-input");
                            if(data == "ko"){
                                $("#searchUser").blur();
                                alert("Aucun Résultats trouvé");
                            }
                            else{
                            response(data);

                            }
                            // response( data.append(data.img) );
                        })
                        .fail(function() {
                         $("#searchUser").removeClass("loadinggif-for-input");
                          
                          console.log("error");
                        })
                    },
                    create: function () {
                        $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
                            var url = '{{ path("ath_user_show_profile", {"slug": "toto"}) }}';
                            url = url.replace("toto", item.slug);
                            // console.log(item);
                            return $('<li>')
                                .append('<a href='+url+'>' + item.img + ' ' + item.value + '<br>'+ '('+ item.ville+')'+ '</a>')
                                .appendTo(ul);
                        };
                    }                    
                });
            });

            </script>
        {% endblock %}
    </body>
</html>
