<!doctype html>
<!--[if IE 8]> <html lang="fr" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="fr" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->

<html lang="fr">
<!--<![endif]-->
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Le réseau social pour le sport{% endblock %}</title>

  <meta name="description" content="">
  <meta name="author" content="">

  {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('compiled/front/common.css') }}" type="text/css" media="all" />
  {% endblock stylesheets %}

  {% block scripts_head %}
    <script type="text/javascript" src="{{ asset('compiled/front/main.min.js') }}"></script>
  {% endblock scripts_head %}

  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body>
  {% if is_granted('ROLE_ADMIN_TABORD') %}
      {% include 'top_nav_admin.html.twig' %}
  {% else %}
    {% include 'top_nav.html.twig' %}
  {% endif %}

  <div class="page bg-color">

    <main class="page-container" role="main">
      <div class="container">
        {% block body %}{% endblock %}
      </div>
    </main>

  </div>
  
  {% block javascripts %}
    
            <script type="text/javascript">
            $(document).ready(function($) {
      
              $("#searchUser").focus(function() {
                $(this).autocomplete('search', $(this).val())
              });
          
                $( "#searchUser" ).autocomplete({
                    source: function( request, response ){
                        $.ajax({
                            url: "{{path('ath_main_search_user')}}",
                            data: {
                                string: request.term
                            },
                            beforeSend: function(xhr) {
                                // $("#atix_caissebundle_facture_filtre_fkSoc").addClass("loadinggif-for-input");
                            },
                            success: function( data ) {
                                // $("#atix_caissebundle_facture_filtre_fkSoc").removeClass("loadinggif-for-input");
                                // console.log(data);
                                // response( data.append(data.img) );
                                response(data);

                            }
                        });
                    },
                    create: function () {
                        $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
                            var url = '{{ path("ath_user_show_profile", {"slug": "toto"}) }}';
                            url = url.replace("toto", item.slug);

                            return $('<li>')
                                .append('<a href='+url+'>' + item.img + ' ' + item.value + '<br>'+ '('+ item.ville+')'+ '</a>')
                                .appendTo(ul);
                        };
                    }
                });

                var error_height = $(window).height();
                $(".fond_404").css({
                    'height' : error_height + 'px'
                });
                $(".fond_403").css({
                    'height' : error_height + 'px'
                });
                $(".fond_500").css({
                    'height' : error_height + 'px'
                });
            });

            $(window).resize(function() {
                var error_height = $(window).height();
                $(".fond_404").css({
                    'height' : error_height + 'px'
                });
                $(".fond_403").css({
                    'height' : error_height + 'px'
                });
                $(".fond_500").css({
                    'height' : error_height + 'px'
                });
            });
            </script>
        {% endblock %}
</body>
</html>
