<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('ath_main_homepage') }}">Athleteec</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      {% if is_granted('ROLE_USER') %}
        
        <ul class="nav navbar-nav">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> Profil <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ path('ath_user_show_profile',{'slug': app.user.slug }) }}">Voir mon profil</a></li>
              <li><a href="{{ path('fos_user_profile_edit') }}">Modifier mon profil</a></li>
              <li><a href="{{ path('ath_user_change_password') }}">Modifier mon mot de passe</a></li>
              {#  <li role="separator" class="divider"></li>
              <li><a href="#">Mon album photo</a></li> #}
              <li><a href="{{ path('ath_main_user_settings') }}">Paramètres</a></li>
            </ul>
          </li>
          {# <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i> Mes performances</a></li> #}
          {# <li><a href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i> Relations/Invitations/Groupe</a></li> #}
          <li><a href="{{ path('ath_list_association') }}"><i class="fa fa-users" aria-hidden="true"></i> Liste des Associations</a></li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input id="searchUser" class="ui-autocomplete-input" type="text" class="form-control" placeholder="{{ "Rechercher" | trans({}, 'home') }}" autocomplete="off">
          </div>
        </form>

        <ul class="nav navbar-nav">
          <li><a href="{{ path('ath_list_produit') }}"><i class="fa fa-eur" aria-hidden="true"></i> Comparateur de prix</a></li>
        </ul>
      {% endif %}

      <ul class="nav navbar-nav navbar-right">
        <li>
          <li class="menu-lang">
            <a class="{% if app.request.locale == 'fr'%}active-flag{% endif %}" href="{{ path('ath_choose_langue', {'langue' : 'fr'}) }}" role="button">
            <img class="lang-flag" width="22" height="22" src="/images/flags/fr.png" alt="FR" />
            </a>
          </li>
          <li class="menu-lang">
              <a class="{% if app.request.locale == 'en'%}active-flag{% endif %}" href="{{ path('ath_choose_langue', {'langue' : 'en'}) }}" role="button">
                  <img class="lang-flag" width="22" height="22" src="/images/flags/en.png" alt="EN" />
              </a>
          </li>
        </li>
        {% if app.user %}
        <li><a href="{{ path('user_security_logout') }}">{{ "deconnexion" | trans({}, 'home') }}</a></li>
        {% else %}
          
        <li><a href="{{ path('fos_user_registration_register') }}">{{ "inscription" | trans({}, 'home') }}</a></li>
        {% endif %}

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>