{% extends "::base.html.twig" %}

{% block body %}
<h1 class="title-line">{{ "followers.of" | trans({"%user%": userToShow}, 'home') }}</h1>

{% if followers %}
 <div class="user_properties">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="user_friends">
            
              {% for oneFollower in followers %}
              <div class="row">

                    <div class="col-md-3">
                      <a href="{{ path('ath_user_show_profile',{'slug': oneFollower.slug }) }}">
                        <img class="" src="{{ oneFollower.webPath | imagine_filter('small') }}" alt="{{ oneFollower }}" title="{{ oneFollower }}" />
                      <p style="color: black">{{ oneFollower }}:</p>
                      </a>

                    </div>
                    <div class="col-md-3">
                      {% if oneFollower.ville %}
                      <p> {{ "ville" | trans({}, 'home') }}: {{oneFollower.ville }}</p>
                      {% else %}
                      <p> {{ "ville" | trans({}, 'home') }}: {{ "villeNonRenseigne" | trans({}, 'home') }}</p>
                      {% endif %}
                    </div>
                    <div class="col-md-6">
                      <a href="{{ path('ath_user_show_profile',{'slug': oneFollower.slug }) }}"><button class="btn-new-info">{{ "show_profil" | trans({}, 'home') }}</button></a>
                      
                      {% if oneFollower.id == user.id %}
                          {# <a href="{{ path('fos_user_profile_edit') }}"><button class="write" style="background-color: #33CCFF;">{{ "modifier.profil" | trans({}, 'home') }}</button></a> #}
                      {% else %} <!-- ce n'est pas mon profil-->
                        {% if oneFollower in amiFollows %}
                        <a href="{{ path('ath_main_follow_user', {'slug': oneFollower.slug, 'suivre': 0 }) }}"><button class="btn-no-suivre" style="border-color: red, color: red;">{{ "ne_plus_suivre" | trans({}, 'home') }}</button></a>
                        {% else %} <!-- je ne suis pas cette personne alors je peut la suivre -->
                            <a href="{{ path('ath_main_follow_user', {'slug': oneFollower.slug }) }}"><button class="btn-suivre" >{{ "suivre" | trans({}, 'home') }}</button></a>
                        {% endif %}
                      {% endif %}

              {#         <a href="{{ path('ath_user_show_profile',{'slug': oneFollower.slug }) }}"><button class="btn-new-info">{{ "show_profil" | trans({}, 'home') }}</button></a> #}
                    </div>
              </div>
    
              <br>
              {% endfor %}
          <div id="my-loader"></div>
          </div>
          <div class="end"></div>


        </div>
  </div>
</div>
</div>
{% else %}
  <h3> Aucun followers pour le moment </h3>
  <a href="{{ path('ath_main_follow_user', {'slug': userToShow.slug }) }}"><button class="btn-suivre" >{{ "suivre" | trans({}, 'home') }}</button></a>
{% endif %}


{% endblock %}

{% block javascripts %}
  {{ parent() }}
<script type="text/javascript">
  $(document).ready(function() {
      var load = 0;
      var end = false;

      $(window).scroll(function(){
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {
          if (end == false){
            load++;
            $.ajax({
              url: "{{ path('ath_main_followers_ajax', {'slug': userToShow.slug }) }}",
              type: 'POST',
              dataType: 'html',
              data: {load: load},
              beforeSend: function(xhr) {
                $("#my-loader").show();
              }
            })
            .done(function(data) {
              $("#my-loader").hide();
              if (data) {
                $('.user_friends').append(data);
              }
              else{

                if (end == false){
                $('.end').append('<h3 class="title-line"> {{ "no.results" | trans({}, "home") }} </h3>');
                }
                end = true;
                
              }
            })
            .fail(function() {
              $("#my-loader").hide();

              console.log("error");
            })
          }
        }
      });
  });
</script>
{% endblock %}