<h1>{{ "title.edit.profile" | trans({}, 'fosuser') }}</h1>
{% include "::flash_messages.html.twig" %}

<form action="{{ path('fos_user_profile_edit') }}" method="POST" {{ form_enctype(form) }}>
    <div class="col-md-3">
	  <p>
	     <label> Photo : </label><br>
	      {% include '@ath_main_path/Includes/user.html.twig' with {'user': app.user, 'img_filter' : 'user_detail' } %}
	  </p>
	  <p>
	    {{ form_errors(form.file) }}
	    {{ form_widget(form.file) }}
	    {% if app.user.photoId is not null %}
	        <a href="#" id="removePhoto">

	                {{ 'profile.supprimerMaPhoto' | trans({},'fosuser') }}

	        </a>
	    {% endif %}
	    <a href="#" id="clear" style="display:none;"> {{ 'profile.retirerLaPhoto' | trans({},'fosuser') }}</a>
	  </p>
    </div>
    <div class="col-md-6">
	    {% if app.user.statutJuridiqueId == 2 %}
		    {{ form_row(form.nom) }}
		    {{ form_row(form.dateDeCreation) }}
		    {{ form_row(form.rue) }}
		    {{ form_row(form.ville) }}
		    {{ form_row(form.cp) }}
		    {{ form_row(form.description) }}
		{% else %}
			{{ form_row(form.nom) }}
			{{ form_row(form.prenom) }}
		    {{ form_row(form.dateDeNaissance) }}
		    {{ form_row(form.rue) }}
		    {{ form_row(form.ville) }}
		    {{ form_row(form.cp) }}
		    {{ form_row(form.description) }}
		{% endif %}
	<input type="submit" class="btn btn-default" name="Enregistrer" value="{{ "save" | trans({}, 'home') }}">
	{{ form_rest(form) }}
    </div>

    <div class="col-md-3">
		{% if canDemandeCelebrite %}
		    <a href="{{ path('ath_user_demande_celebrite') }}" class="btn btn-info"> {{ "faire.demande.celebrite" | trans({}, 'home') }}</a>
		{% endif %}
    </div>
	

</form>


<script type="text/javascript">
	$(document).ready(function($) {
	
	    // On supprime la photo
	    $("#removePhoto").click(function () {
	      // confirm("{{ 'profile.confirmSuppressionPhoto' | trans({},'home') }}", function(r){
	        // if(r){
	          window.location.href="{{ path('ath_user_remove_photo') }}";
	        // }
	      })

	    // On enlève la photo sélectionnez
	    $("#clear").click(function () {
	        $("#ath_user_edit_profile_file").val("");
	        $("#clear").hide();
	    });

	    $("#ath_user_edit_profile_file").change(function () {
	        var chemin;
	        if(chemin != "") {
	            $("#clear").show();
	        }
    	});

    });

</script>