{% trans_default_domain 'FOSUserBundle' %}

{% include "::flash_messages.html.twig" %}

<div class="user_wrap">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="user_container">
            <div class="user_head">
              <div class="col-sm-3 col-md-3">
                <div class="">
                	{# {% if userToShow.id == user.id %}
						<h1>{{ "title.monProfil" | trans({}, 'fosuser') }}</h1>
                	{% else %} #}
						<h1>{{userToShow}}</h1>
                	{# {% endif %} #}

					{% include '@ath_main_path/Includes/user.html.twig' with {'user': userToShow, 'img_filter' : 'profile' } %}
               {#  <div class="upload-file-container-text">
                  <input type="file" name="file" class="photo" id="imgInput"></div> #}
                </div>
              </div>
              <div class="col-sm-3 col-md-3">
                <div class="user_information">
                  <p class="user_loc">
                    <span class="edited" id="editer_profileglobe">
                      <i class="fa fa-globe"></i>
                    </span>
                    {{ userToShow.statutJuridique }}
                  </p>
                </div>
              </div>

              <div class="col-sm-2 col-md-2 col-sm-offset-2 col-md-offset-2">
              	{% if userToShow.id == user.id %}
                	<a href="{{ path('fos_user_profile_edit') }}"><button class="write" style="background-color: #33CCFF;">{{ "modifier.profil" | trans({}, 'home') }}</button></a>
            	{% else %} <!-- ce n'est pas mon profil-->
	            	{% if userToShow in amiFollows %}
				        <a href="{{ path('ath_main_follow_user', {'slug': userToShow.slug, 'suivre': 0 }) }}"><button class="write unfollow">{{ "ne_plus_suivre" | trans({}, 'home') }}</button></a>
	            	{% else %} <!-- je ne suis pas cette personne alors je peut la suivre -->
	            	    <a href="{{ path('ath_main_follow_user', {'slug': userToShow.slug }) }}"><button class="write follow">{{ "suivre" | trans({}, 'home') }}</button></a>
	            	{% endif %}
            	{% endif %}
              </div>

              <div class="col-sm-2 col-md-2">
                <div class="user_btn">
                 {#  <a href="#" data-style="zoom-out" data-name="follow" class="btn btn-success btn-add_friends ladda btn-follow ladda-button ladda-primary edited" id="edited_addopr454">
                    <span class="ladda-label">Add</span>
                    <span class="ladda-spinner"></span>
                  </a> #}
                </div>
              </div>

            </div>
            <div class="hidden-xs col-sm-9 col-md-9 сol-md-offset-2">

              <div class="user_status">
                <p>
                  {{ userToShow.description }}
                </p>
              </div>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <div class="user_photo ">
    <div class="container">

      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 user_ph_width">
          <a class="user_photo_container edited" id="edited_latestpr">

            {% if noProduct %}
              <i class="fa fa-picture-o"></i>
              Les derniers produits
            {% else %}
              {% if userToShow.hasRole('ROLE_CELEBRITE') %}
                  <i class="fa fa-picture-o"></i>
                  Mon équipement sportif
              {% else %}
                  <i class="fa fa-picture-o"></i>
                  Interêts pour les produits
              {% endif %}
            {% endif %}

          </a>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 owl_photos">
          <div id="owl-product">
            {% for oneProduit in produits %}
                <div class="item2">
                  <a title="{{oneProduit}}" data-rel="lightcase:myCollection" href="#">
                    {% if oneProduit.fileProduits| length > 0 %}
                        {# <img class="" src="/{{ oneProduit.fileProduits[0].webPath  }}" alt="{{ onePost.fileProduits[0] }}" title="{{ onePost.fileProduits[0] }}"  height="65" width="65"/> #}
                        {% include '@ath_main_path/Includes/user.html.twig' with {'user': oneProduit.fileProduits[0], 'img_filter' : 'mini' } %}
                        {% if app.user.hasUserComparateurProduits(oneProduit) %}
                            <a title="Retirer du comparateur de prix"  id="addComparateur" class="action-comparateur" href="#" data-id="{{ oneProduit.id }}" data-label="supprimer">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            <a>
                        {% else %}
                            <a title="Ajouter au comparateur de prix" id="addComparateur" class="action-comparateur" href="#" data-id="{{ oneProduit.id }}" data-label="ajouter">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            <a>
                        {% endif %}
                        
                    {% endif %}
                  {# <img src="/images/f-project.jpg" height="65" width="65" alt=""> #}
                  </a>
                </div>
            {% endfor %}
            
            
          </div>
          <div class="customNavigation">

            <a class="next">
              <i class="fa fa-chevron-right"></i>
            </a>

          </div>
          <div class="photos_gradient"></div>

        </div>
      </div>
    </div>
  </div>
  <div class="user_properties">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="user_friends">
            <h3>
              Followers
              {% if countFollowers > 12 %}
                <a href="{{ path('ath_main_followers', {'slug': userToShow.slug }) }}"><span style="color: blue">({{ countFollowers }})</span></a>
              {% else %}
                  <span>({{ countFollowers }})</span>
              {% endif %}
            </h3>
            <div class="row">
              {% for oneFollower in followers %}
                    <div class="col-xs-3 col-sm-1 col-md-4 friend-item">
                      <a href="{{ path('ath_user_show_profile',{'slug': oneFollower.slug }) }}">
                        {% if oneFollower.statutJuridiqueId == 1 and oneFollower.photoId == null %}
                        <img class="" src="/{{ oneFollower.webPath }}" alt="{{ oneFollower }}" title="{{ oneFollower }}" width="70" height="70" />
                        {% else %}
                        
                        <img class="" src="{{ oneFollower.webPath | imagine_filter('mini') }}" alt="{{ oneFollower }}" title="{{ oneFollower }}" />
                        {% endif %}
                        <p style="color: black">{{ oneFollower }}:</p>
                      </a>
                    </div>
              {% endfor %}

              {% if countFollowers > 12 %}
                  <a href="{{ path('ath_main_followers', {'slug': userToShow.slug }) }}"><button class="btn-new-info">{{ "voir_tous" | trans({}, 'home') }}</button></a>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="user_question">
            <h3 class="edited" id="edited_prtable">Informations:</h3>
			<ul class="feature_table clearfix">
			
			{% if userToShow.statutJuridiqueId == 3 %}
	        <li class="clearfix">
            <span class="feature_name">{{ "profil.nomAssoc" | trans({}, 'fosuser') }}:</span>
            <span class="feature_value">{{ userToShow.nom }}</span>
          </li>
          <li class="clearfix">
            <span class="feature_name">{{ "profil.dateDeCreation" | trans({}, 'fosuser') }}:</span>
            <span class="feature_value">{{ userToShow.dateDeCreation |localizeddate('short', "none")}}</span>
          </li>
          <li class="clearfix">
            <span class="feature_name">{{ "profil.adresse" | trans({}, 'fosuser') }}:</span>
            <span class="feature_value">{{ userToShow.adresse }}</span>
          </li>
          <li class="clearfix">
            <span class="feature_name">{{ "profil.siteWeb" | trans({}, 'fosuser') }}:</span>
            <span class="feature_value"><a href="{{ userToShow.siteWeb}}" style="color: blue;" target="_blank">{{ userToShow.siteWeb}}</a> </span>
          </li>
          <li class="clearfix">
            <span class="feature_name">{{ "profil.associationSports" | trans({}, 'fosuser') }}:</span>
            <span class="feature_value"> 
              {% for oneSport in userToShow.associationSports %}
                {% if loop.last %}
                    {{ oneSport }} 
                {% else %}
                    {{ oneSport }},
                {% endif %}
              {% endfor %}
            </span>
          </li>
          <li class="clearfix">
            <span class="feature_name">
              <i class="fa fa-envelope-o"></i>
              {{ "profil.email" | trans({}, 'fosuser') }}:
            </span>
            <span class="feature_value">{{ userToShow.email }}</span>
          </li>
          <li class="clearfix">
            <span class="feature_name">{{ "profil.interetSports" | trans({}, 'fosuser') }}:</span>
       
          <span class="feature_value"> 
            {% for oneSport in userToShow.userInteretSports %}
              {% if loop.last %}
                  {{ oneSport }} 
              {% else %}
                  {{ oneSport }},
              {% endif %}
            {% endfor %}
          </span>
             
          </li>
	           {#    <li class="clearfix">
	                <span class="feature_name">Have team?:</span>
	                <span class="feature_value">Yes</span>
	              </li>
	              <li class="clearfix">
	                <span class="feature_name">Some feature:</span>
	                <span class="feature_value"></span>
	              </li> #}
			{% else %} <!-- on a une personne -->
	        <li class="clearfix">
            <span class="feature_name">{{ "profil.nom" | trans({}, 'fosuser') }}:</span>
            <span class="feature_value">{{ userToShow.nom }}</span>
          </li>
          <li class="clearfix">
            <span class="feature_name">{{ "profil.dateDeNaissance" | trans({}, 'fosuser') }}:</span>
            <span class="feature_value">{{ userToShow.dateDeNaissance |localizeddate('short', "none")}}</span>
          </li>
          <li class="clearfix">
            <span class="feature_name">{{ "profil.ville" | trans({}, 'fosuser') }}:</span>
            <span class="feature_value">{{ userToShow.ville }}</span>
          </li>
          <li class="clearfix">
            <span class="feature_name">{{ "profil.interetSports" | trans({}, 'fosuser') }}:</span>
            <span class="feature_value"> 
              {% for oneSport in userToShow.userInteretSports %}
                {% if loop.last %}
                    {{ oneSport }} 
                {% else %}
                    {{ oneSport }},
                {% endif %}
              {% endfor %}
            </span>
          </li>
			{% endif %}
	        </ul>
           	

          </div>
          <div class="user_latest">
            <h3 class="edited" id="edited_ltstre">Journal:</h3>
            <div class="row">
              <div class="col-md-12">
                  <div class="well"> 
                     <form id="upload" action="{{ path('ath_main_add_post') }}" class="form-horizontal" role="form" {{ form_enctype(form) }} method="POST">
                        <h4>{{ "new_post" | trans({}, 'home') }}</h4>
                         <div class="form-group" style="padding:14px;">
                             {{ form_widget(form.contenu) }}
                             <ul class="list-inline">
                                 <li>
                                     <label for="post_form_file" class="btn btn-primary">
                                         <i class="glyphicon glyphicon-camera"></i> <span class="actu_value">Choisir un fichier</span>
                                     </label>
                                     {{ form_widget(form.file) }}
                                 </li>
                             </ul>
        
                            <input type="submit" class="btn btn-primary pull-right" value="{{ "btn.send" | trans({}, 'home') }}" />
                            {{ form_rest(form)}}
                        </div>
                    </form>
                  </div>
              </div>
            </div>
            <div class="row">
              <div id="reviews_list" class="col-sm-12 col-md-12 reviews_list">
                {% for onePost in posts %}
                    <div class="panel panel-default" id="panel{{ onePost.id }}" data-id="{{ onePost.id }}">
                       <div class="panel-heading">
                        <div class="row" style="font-size: 12px">
                          <div class="col-md-9">
                            <a href="{{ path('ath_user_show_profile',{'slug': onePost.createdBy.slug }) }}">
                              <img class="" src="{{ onePost.createdBy.webPath | imagine_filter('micro') }}" alt="{{ onePost.createdBy }}" title="{{ onePost.createdBy }}" />
                            <i>{{ onePost.createdBy }}</i>
                            </a>
                              {% if onePost.getParent() is not null %}
                              {% set onePostTemp = onePost.getParent() %}
                              
                              {% if onePostTemp.createdBy == app.user %}
                                 à re-publié un article datant du {{ onePostTemp.createdAt |localizeddate('short', "none")}}
                              {% else %}
                                 a partagé la publication de <a href="{{ path('ath_user_show_profile',{'slug': onePostTemp.createdBy.slug }) }}">{{ onePostTemp.createdBy }}</a>
                              {% endif %}
                            
                            {% endif %}
                          </div>
                          <div class="col-md-3">
                            {# <span class="pull-right"> #}
                              {{ onePost.createdAt |localizeddate('short', "none")}}
                              <br />
                              {% if onePost.createdBy == app.user %}
                                  <a href="#" class="removePost" data-confirm="Voulez-vous vraiment supprimer cette article?"><i class="fa fa-trash-o" aria-hidden="true"></i> Supprimer</a>
                              {% endif %}
                            {# </span> #}

                          </div>
                        </div>
                      </div>
                      {% set realId = onePost.id %}

                      {# shamble post and parent #}
                      {% if onePost.getParent() is not null %}
                          {% set onePost = onePost.getParent() %}
                      {% endif %}
                        
                       {% if onePost.filePosts| length > 0 %}
                          <div class="panel-body">
                            <img class="" src="/{{ onePost.filePosts[0].webPath  }}" alt="{{ onePost.filePosts[0] }}" title="{{ onePost.filePosts[0] }}" style="width: 100%;" />
                          </div>
                        <hr>
                       {% endif %}
                       
                        <div class="panel-body">
                          <div class="clearfix"></div>
                          {{ onePost.contenu }}
                        </div>
                        <hr>
                        <div class="row actions-post">
                          <div class="block-action-post">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-3">
                              <a class="happy_like {% if onePost.hasUserLike(app.user) %}already-like{% endif %}" href="#" data-id="{{ onePost.userLikes | length }}" data-label="{{ onePost.id }}">
                                <i class="fa fa-thumbs-up"></i>
                                <span id="nbLikes{{ realId }}">
                                  {% if onePost.userLikes | length > 0 %}
                                    {{ onePost.userLikes | length }}
                                  {% endif %}
                                </span>
                                J'aime
                                </a>
                            </div>
                            <div class="col-md-4">
                              <a href="#" style="" class="seeComment" data-id="seeComment{{realId}}">
                                <i class="fa fa-comments"></i>
                                  {% if onePost.getComments() | length != 0 %}
                                      {{ onePost.getComments() | length}}
                                  {% endif %}
                                  Commentaire(s)
                              </a>
                            </div>
                            <div class="col-md-4">
                                <a href="{{ path('ath_main_share_post', {'idPost': onePost.id }) }}"><i class="fa fa-share-alt" aria-hidden="true"></i> Partager</a>
                            </div>
                          </div>
                        </div>
                        <hr>
                        <div id="seeComment{{realId}}" class="hide-comments" data-id="{{ realId }}">

                          <div class="row">
                              <div class="panel-body">
                                <div class="col-md-3">
                                  {% include '@ath_main_path/Includes/user.html.twig' with {'user': app.user, 'img_filter' : 'mini' } %}
                                </div>
                                <div class="col-md-9">
                                  <textarea placeholder="{{ "placeholder.comment" | trans({}, 'home') }}" data-id="{{ onePost.Id }}" class="autoExpand form-control"></textarea>
                                  {% if onePost.getComments() | length > 10 %}
                                      <a href="#" id="voirPlus{{ realId }}" class="moreComment" data-confirm="{{ onePost.getComments() | length }}" data-label="{{ onePost.Id }}" data-id="1">Voir plus de commentaires</a>
                                  {% endif %}
                                </div>
                              </div>
                          </div>
                        <div class="row">
                          
                            {# bouuuu #}
                            <div id="panelComment{{ realId }}" class="panel-body panelComment">

                                {% for oneComment in onePost.getTenLastComments() %}
                                  {% set auteur = oneComment.createdBy %}
                                    <div class="col-sm-12 col-md-12">
                                    <div class="user_message green_comment ">

                                      <div class="row">
                                        <div class="col-xs-3 col-sm-2 col-md-2">
                                          <a href="{{ path('ath_user_show_profile',{'slug': auteur.slug }) }}">
                                            {% include '@ath_main_path/Includes/user.html.twig' with {'user': auteur, 'img_filter' : 'micro' } %}
                                          </a>
                                        </div>
                                        <div class="col-xs-9 col-sm-3 col-md-3">
                                          <a href="{{ path('ath_user_show_profile',{'slug': auteur.slug }) }}" class="us_name">{{auteur}}</a>
                                          <p class="us_m_date">{{oneComment.createdAt |localizeddate('short', "none") }}</p>
                                        </div>
                                       {#  <div class="col-xs-8 col-sm-8 col-md-8">
                                          <ul class="user_message_options pull-right">
                                            <li>
                                              <a href="?del=2267">
                                                <i class="fa fa-minus-circle"></i>
                                                Delete
                                              </a>
                                            </li>
                                          </ul>

                                        </div>
 #}                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                          <div class="us_line"></div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                          <div class="us_content">
                                            <p>{{ oneComment.getMessage() }}</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                {% endfor %}
                            </div>
                          </div>
                        </div>

                    </div> <!-- panel-default -->
                {% endfor %}

            <div id="my-loader"></div>
            </div>
          </div>
          <div class="row">
            <div class="end"></div>
          </div>
          {# <div class="user_question">
            
          </div> #}
          </div>
        </div>
        <div class="col-md-3">
        
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="dataConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
      </div>
      <div class="modal-body" id="myModalContent" style='color: #000'>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <a class="btn btn-primary" data-id="" id="dataConfirmOK">Valider</a>
      </div>
    </div>
  </div>
</div>
{% block new_javascripts %}
<script type="text/javascript">
  $(document).ready(function() {
      var load = 0;
      var end = false;
      var nearToBottom = 100;
      var ok = true;
      var userId = '{{ userToShow.id }}';
      $(window).scroll(function(){
        // if($(window).scrollTop() + $(window).height() > 
        // $(document).height() - nearToBottom){
        
        if ($(window).scrollTop() >= $(document).height() - $(window).height() - 3000 && ok ==true) {
          ok = false;
          if (end == false){
            load++;
            $.ajax({
              url: "{{ path('ath_user_my_posts_ajax') }}",
              type: 'POST',
              dataType: 'html',
              data: {load: load, id: userId},
              beforeSend: function(xhr) {
                // $("#my-loader").show();
              }
            })
            .done(function(data) {
              ok = true;
              // $("#my-loader").hide();
              if (data) {
                $('#reviews_list').append(data);
              }
              else{

                if (end == false){
                $('.end').append('<h3 class="title-line"> {{ "no.results" | trans({}, "home") }} </h3>');
                }
                end = true;
              }
            })
            .fail(function() {
              ok =true;
              // $("#my-loader").hide();
              console.log("error");
            })
          }
        }
      });

      $("body").delegate(".seeComment", "click",  function(e) {

          var selector = $(this).attr('data-id');
          // console.log(selector);
          if ($( "div" ).find('#'+selector).is(":visible") ) {
              $( "div" ).find('#'+selector).hide();
              $('#'+selector).hide();
            // console.log($('#'+selector).length);

          }
          else{
            // console.log("hide");

            // console.log($('#'+selector).length);
            $( "div" ).find('#'+selector).show();
              // $('#'+selector).show();
          }
          e.preventDefault();

          return false;
      });
    $("body").delegate(".autoExpand", "keydown",  function(e) {
      if (e.keyCode == 13) {
        e.preventDefault();
        var message = $(this).val();
        var idPost = $(this).attr('data-id');

        if ($.trim(message) != "") 
        {
            $.ajax({
              url: "{{ path('ath_main_add_comment') }}",
              type: 'POST',
              dataType: 'html',
              data: {message: message, idPost: idPost},
              beforeSend: function(xhr) {
                $("#my-loader").show();
              }
            })
            .done(function(data) {
              $("#my-loader").hide();
              if (data) {
                $( "div" ).find("#panelComment"+idPost).html(data);
              }
            })
            .fail(function() {
              $("#my-loader").hide();
            })
        }
          
          return false;
      }
    });

    $("body").delegate(".moreComment", "click",  function(e) {
        e.preventDefault();
        var firstResult = $(this).attr('data-id');
        var sum = parseInt(firstResult) + 1;
        $(this).attr('data-id', sum);
        var idPost = $(this).attr('data-label');
        var nbComments = $(this).attr('data-confirm');
        var realId = $(this).closest('.hide-comments').attr('data-id');

        $.ajax({
            url: "{{ path('ath_main_more_comments') }}",
            type: 'POST',
            dataType: 'html',
            data: {load: sum, idPost: idPost},
            beforeSend: function(xhr) {
              $("#my-loader").show();
            }
          })
          .done(function(data) {
            $("#my-loader").hide();
            if (data) {
              $( "div" ).find("#panelComment"+realId).html(data);
              // on ne peut voir plus de commentaire => on cache le lien
              var nbToPrint = 10 *sum;
              var firstResult = parseInt(nbComments) - nbToPrint;
              if (firstResult <= 0) {
                $("div").find("#voirPlus"+realId).hide();

                // $("#voirPlus"+realId).hide();
              }
            }
          })
          .fail(function() {
            $("#my-loader").hide();
          })
        return false;
    });

    $("body").delegate(".removePost", "click",  function(e) {
        var idPost = $(this).closest('.panel-default').attr('data-id');
        // console.log(idPost);
        $('#dataConfirmModal').find('.modal-body').text($(this).attr('data-confirm'));
        $('#dataConfirmOK').attr('data-id', idPost);
        $('#dataConfirmModal').modal({show:true});
        return false;
    });
    // remove onePost
    $("body").delegate("#dataConfirmOK", "click",  function(e) {
        e.preventDefault();
        var idPost = $(this).attr('data-id');
        $('#dataConfirmModal').modal('hide');
        $.ajax({
            url: "{{ path('ath_main_remove_post') }}",
            type: 'POST',
            dataType: 'Json',
            data: {idPost: idPost},
            beforeSend: function(xhr) {
              $("#my-loader").show();
            }
          })
          .done(function(data) {
            $("#my-loader").hide();
            if (data) {
              $("div").find("#panelComment"+idPost).html(data);
              $("div").find("#panel"+idPost).remove();
            }
          })
          .fail(function() {
            $("#my-loader").hide();
          })
        return false;
    });

    $("body").delegate(".happy_like", "click",  function(e) {
        var realId = $(this).closest('.panel-default').attr('data-id');

        var substract = $(this).hasClass('already-like');
        var nbLikes = parseInt($(this).attr('data-id'));
        var idPost = $(this).attr('data-label');
        if (substract) {
          $(this).attr('data-id', nbLikes - 1);
          $(this).removeClass('already-like');
        }
        else // on incrémente le j'aime' et on ajoute la class already-like
        {
          $(this).attr('data-id', nbLikes + 1);
          $(this).addClass('already-like');
        }
        
        nbLikes = $(this).attr('data-id');

        if (nbLikes != "0") {
            $("div").find("#nbLikes"+realId).html(nbLikes);
        }
        else
            $("div").find("#nbLikes"+realId).html("");

        // ajax en cache
        $.ajax({
            url: "{{ path('ath_main_like_post') }}",
            type: 'POST',
            dataType: 'html',
            data: {idPost: idPost, realId: realId, remove: substract},
          })
          .done(function(data) {
            if (data) {
              // $("div #panel"+realId).find(".happy_like").html(data);
            }
          })
          .fail(function() {
            alert("Une erreur est survenue");
          })

        e.preventDefault();
        return false;
    });

    $("body").delegate(".action-comparateur", "click",  function(e) {
        var idProduit = $(this).attr('data-id');
        var action = $(this).attr('data-label');
        // ajax en cache
        $.ajax({
            url: "{{ path('ath_main_add_comparateur') }}",
            type: 'POST',
            dataType: 'html',
            data: {idProduit: idProduit, action: action},
          })
          .done(function(data) {
            if (data) {
              $("div").find("#addComparateur").html(data);
              // $(this).html(data);
            }
          })
          .fail(function() {
            alert("Une erreur est survenue");
          })

        e.preventDefault();
        return false;
    });

      $(document).on('click','.user_photo .next',function(){
      var owl = $("#owl-product");

        owl.trigger('owl.next');
      }); 
       $("#owl-product").owlCarousel({
          navigation : true,
        // autoPlay: 3000, //Set AutoPlay to 3 seconds
        items : 10,
        // itemsDesktop : [1199,3],
        // itemsDesktopSmall : [979,3]
      });

      $('input[type="file"]').change(function() {
          var val = ($(this).val() != "") ? "Fichier choisi : " + $(this).val() : "Choisir un fichier";
          $('.actu_value').html(val);
      });
  });
</script>
{% endblock %}