{% extends "AthUserBundle::layout.html.twig" %}

{% block fos_user_content %}



<div class="preloader"></div>
	
	<main id="top" class="masthead" role="main">
		<div class="container">
			<!-- <div class="logo"> <a href="index.html#"><img src="images/logo.png" alt="logo"></a>
			</div> -->
 			
			<h1><strong>{{ "noConnected.h1" | trans({}, 'home') }}</strong></h1>
 
			<div class="row myBackground">
				<div class="col-md-6 col-sm-12 col-md-offset-3 subscribe">

                <form action="{{ path("fos_user_security_check") }}" method="post" id="subscribeForm">
					<h2>{{ "connexion" | trans({}, 'home') }}</h2>
                    {% if error %}
    					<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	
    				<input type="text" class="form-control input-lg" id="username" name="_username" placeholder="login" value="{{ last_username }}" required="required" />
                    <br><br>
					{# <label for="password">{{ 'security.login.password'|trans }}</label> #}

    				<input type="password" id="password" class="form-control input-lg" name="_password" placeholder="mot de passe" required="required" autofocus=""/>
    				<br>
	
					<button type="submit" class="btn btn-info btn-lg">{{ "btn.submit.connect" | trans({}, 'home') }}</button>
					
					<h3>{{ "or" | trans({}, 'home') }}</h3>

					<br>
					<a href="{{ path('fos_user_registration_register') }}" class="btn btn-success btn-lg"> {{ "inscription" | trans({}, 'home') }}</a>
				</form>
					<span id="result" class="alertMsg"></span> </div>
				</div>
 
				<a href="#explore" class="scrollto">
					<p>{% filter upper %}
                        {{ "scroll" | trans({}, 'home') }}
                       {% endfilter %}
                    </p>
					<p class="scrollto--arrow"><img src="/images/scroll_down.png" alt="scroll down arrow"></p>
				</a>
		</div><!-- /container -->
	</main><!--/main -->
 

    {% include '@ath_views/include_no_connected.html.twig' %}
{% endblock fos_user_content %}



