{% extends "::base.html.twig" %}

{% block body %}


{# <div class="user_wrap">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="user_container">
            <div class="user_head">
				<h1>{{ "filActualite" | trans({}, 'home') }}</h1>
              

            </div>
            
          </div>

        </div>
      </div>
    </div>
</div> #}

  <div class="user_properties">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="user_friends">
            <h3>
              Evènement
              {% if countEvents > 12 %}
                <a href="{{ path('ath_main_event_sportifs') }}"><span style="color: blue">({{ countEvents }})</span></a>
              {% else %}
                  <span>({{ countEvents }})</span>
              {% endif %}
            </h3>
              {% for oneEvent in events %}
                <div class="row">
                    <div class="col-md-4">
                        <img class="" src="{{ oneEvent.webPath | imagine_filter('mini') }}" alt="{{ oneEvent }}" title="{{ oneEvent }}" />
                        {# <p style="color: black">{{ oneEvent.description }}:</p> #}
                    </div>
                    <div class="col-md-8">
                      <a href="{{ oneEvent.siteWeb }}" target="_blank" style="color: blue">
                          <p style=""><u>{{ oneEvent }}:</u></p>
                      </a>
                      {% if oneEvent.description | length > 20 %}
                        <p class="read-more" data-target="{{ oneEvent.siteWeb }}" data-confirm="{{ oneEvent.description }}" data-id="{{ oneEvent.libelle }}"><i>{{ oneEvent.description | slice(0,20) }}...</i></p>
					  {% else %}
                        <p><i>{{ oneEvent.description }}</i></p>
                      {% endif %}
                    </div>
           	    </div>
           	    <br><br>
              {% endfor %}

              {% if countEvents > 12 %}
                  <a href="{{ path('ath_main_event_sportifs') }}"><button class="btn-new-info">{{ "voir_tous_events" | trans({}, 'home') }}</button></a>
              {% endif %}
          </div>
        </div>
        <div class="col-md-6">
        	<div class="user_latest">
            <h3 class="edited" id="edited_ltstre">Journal:</h3>
            <div class="row">
              <div class="col-md-12">
                <form class="" action="" method="Post">
                    <div class="well"> 
                       <form class="form-horizontal" role="form">
                          <h4>{{ "new_post" | trans({}, 'home') }}</h4>
                           <div class="form-group" style="padding:14px;">
                            <textarea class="form-control" placeholder="{{ "placeholder.new_post" | trans({}, 'home') }}"></textarea>
                          </div>
                          <input type="submit" class="btn btn-primary pull-right" value="Envoyer" />
                          <ul class="list-inline">
                            <li><i class="glyphicon glyphicon-camera"></i></li>
                          </ul>
                      </form>
                    </div>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12 reviews_list">
                {% for onePost in posts %}
                    <div class="panel panel-default">
                       <div class="panel-heading">
                        <span class="pull-right">
                          {{ onePost.createdAt |localizeddate('short', "none")}}
                        </span> 
                        <img class="" src="{{ onePost.createdBy.webPath | imagine_filter('mini') }}" alt="{{ onePost.createdBy }}" title="{{ onePost.createdBy }}" />
                      </div>
                       {% if onePost.filePosts| length > 0 %}
                          <div class="panel-body">
                            <img class="" src="/{{ onePost.filePosts[0].webPath  }}" alt="{{ onePost.filePosts[0] }}" title="{{ onePost.filePosts[0] }}" style="width: 100%;" />
                          </div>
                        <hr>
                       {% endif %}
                       
                        <div class="panel-body">
                          <div class="clearfix"></div>
                          {{ onePost.contenu }}
                        </div>
                    </div>
                {% endfor %}

            </div>
          </div>
          {# <div class="user_question">
          	
           	

          </div> #}
          
        </div>
      </div>
      <div class="col-md-3">
        
      </div>
    </div>
  </div>
  {% include '@ath_main_path/Includes/read_more_modal.html.twig' %}
{% endblock body %}
