{% extends "::base.html.twig" %}

{% block body %}
    <!--  bg_fon -->
    <br><br><br><br><br><br><br><br><br>
    <div class="members_middle pad_off full-page">
    </div>
    <form action="{{ path('ath_list_association') }}" method="POST" class="search_container asso_search">
        <div class="row sc_f">
            {{ form_row(form._token) }}
            <div class="col-sm-9 col-md-10">
                 <div class="col-sm-2 col-md-3"><label for="sports_form_sports" class="edited">Sport :</label></div>
                 <div class="col-sm-10 col-md-9">{{ form_row(form.sports) }}</div>
            </div>
            <div class="col-sm-3 col-md-2">
                <input type="submit" value="Trier" class="btn btn-default" />
            </div>
        </div>
    </form>

    <div class="container">
        <div class="row">

            <div class="members-inline-wrap clearfix">
                {% for association in associations %}
                    <a href="{{ path('ath_user_show_profile', { 'slug' : association.slug }) }}" >
                        <div class="col-md-4 col-sm-6 members_inline_aj ">
                            <div class="members_item clearfix">
                                <div class="members_item_img">

                                    <img class="" src="/{{ association.webPath  }}" alt="{{ association }}" title="{{ association }}" style="width: 100%;" />
                                </div>
                                <div class="member-info">
                                    <p class="member_name">{{ association.nom }}</p>
                                    <p class="member_year"><i class="fa fa-soccer-ball-o"></i>

                                        {% for sport in association.associationSports %}

                                            {{ sport.name }}

                                        {% endfor %}
                                    </p>
                                    <ul class="user_inf">
                                        <li>
                                            <a>
                                                <i class="fa fa-location-arrow"></i>
                                                {{ association.ville }}
                                            </a>
                                        </li>
                                        {%  if association.siteWeb is not empty %}
                                        <li>
                                            <a>
                                                <i class="fa fa-laptop"></i>
                                                {{ association.siteWeb }}
                                            </a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            <div class="members_item_border visible-xs"></div>
                        </div>
                    </a>
                {% endfor %}

            </div>
                {% include '@ath_views/Ath/Association/pagination.html.twig' %}
        </div>

    </div>
    </div>

{% endblock body %}

{% block javascripts %}

    {% if app.request.locale == "fr" %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/i18n/defaults-fr_FR.js"></script>
    {% else %}
         <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/i18n/defaults-*.min.js"></script>
    {% endif %}

{% endblock %}