{% extends '::base_admin.html.twig' %}
{% block body %}
<h2>
    {{ "user.changepassword.title" | trans({}, 'administration') }}
</h2>
<form action="{{ path('admin_ath_user_user_password', { 'id': Utilisateur.id })}}" method="POST" {{ form_enctype(form) }} >
    {{ form_rest(form) }}
    <div class="row-fluid">
        <div class="">
            <a href="{{ path('admin_ath_user_user_list') }}" class="btn">{{ "user.changepassword.cancel" | trans({}, 'administration') }}</a>
            <input type="submit" class="btn btn-primary" value="{{ "user.changepassword.save" | trans({}, 'administration') }}">
        </div>
    </div>
</form>

{% endblock %}
