{% for oneComment in post.getTenLastComments() %}
  {% set auteur = oneComment.createdBy %}
  <div class="col-sm-12 col-md-12 reviews_list">
    <div class="user_message green_comment ">

      <div class="row">
        <div class="col-xs-3 col-sm-2 col-md-2">
          <a href="{{ path('ath_user_show_profile',{'slug': auteur.slug }) }}">
            {% include '@ath_main_path/Includes/user.html.twig' with {'user': auteur, 'img_filter' : 'micro' } %}
          </a>
        </div>
        <div class="col-xs-9 col-sm-3 col-md-3">
          <a href="{{ path('ath_user_show_profile',{'slug': auteur.slug }) }}" class="us_name">{{auteur}}</a>
          <p class="us_m_date">{{oneComment.createdAt |localizeddate('short', "none") }}</p>
        </div>
       {#  <div class="col-xs-8 col-sm-8 col-md-8">
          <ul class="user_message_options pull-right">
            <li>
              <a href="?del=2267">
                <i class="fa fa-minus-circle"></i>
                Delete
              </a>
            </li>
          </ul>

        </div>
#}                                        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="us_line"></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="us_content">
            <p>{{ oneComment.getMessage() }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}